.form_cl {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.form_td {
    margin-left: 10%; 
}

.chores_list {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
